
body{
  margin:0;
  font-family:sans-serif;
  background:#f4c99b;
}

.container{
  max-width:430px;
  margin:auto;
  min-height:100vh;
  background:#f4c99b;
  padding-bottom:100px;
}

header{
  background:#e76f51;
  color:white;
  padding:10px;
  text-align:right;
  font-size:20px;
}

.tabs{
  display:flex;
}

.tabs button{
  flex:1;
  padding:15px 5px;
  border:none;
  background:#f6d67a;
  font-size:18px;
}

.tab.active{
  background:orange;
  color:white;
}

.item{
  display:flex;
  justify-content:space-between;
  align-items:center;

  background:#e5df9c;

  margin:10px;
  padding:10px;

  text-decoration:none;
  color:black;
}

.item img{
  width:140px;
  height:90px;
  object-fit:cover;
}

.item-text h2{
  margin:0;
  font-size:35px;
}

.item-text p{
  margin:0;
  font-size:35px;
}

.detail-image{
  width:100%;
  height:250px;
  object-fit:cover;
}

.detail-info{
  display:flex;
  justify-content:space-between;
  align-items:center;

  padding:10px;

  font-size:30px;
}

.flavor{
  display:flex;
  gap:10px;
  padding:10px;
}

.flavor button{
  flex:1;
  padding:20px;
  font-size:30px;
}

.selected{
  background:orange;
  color:white;
}

.counter{
  display:flex;
  justify-content:center;
  align-items:center;

  gap:20px;

  margin-top:20px;
}

.counter button{
  width:70px;
  height:70px;
  font-size:40px;
}

.counter span{
  font-size:40px;
}

.actions{
  display:flex;
  justify-content:space-around;

  margin-top:40px;
}

.back{
  background:skyblue;
  color:white;

  border:none;

  padding:15px 30px;

  font-size:25px;
}

.order{
  background:red;
  color:white;

  border:none;

  padding:15px 30px;

  font-size:25px;
}

.confirm-area{
  height:70vh;

  display:flex;
  flex-direction:column;

  justify-content:center;
  align-items:center;

  gap:80px;
}

.confirm-buttons{
  display:flex;
  gap:50px;
}

.confirm-buttons button{
  width:120px;
  height:80px;

  font-size:35px;
}

.thanks-message{
  height:70vh;

  display:flex;
  justify-content:center;
  align-items:center;

  text-align:center;

  font-size:40px;
}

.call-area{
  height:70vh;

  display:flex;
  flex-direction:column;

  justify-content:center;
  align-items:center;

  gap:100px;
}

.call-message{
  text-align:center;
  font-size:45px;
}

.call-back-btn{
  width:200px;
  height:100px;

  border-radius:50px;

  font-size:40px;
}

footer{
  position:fixed;
  bottom:0;

  width:100%;
  max-width:430px;

  display:flex;

  background:#e76f51;
}

footer button{
  flex:1;

  margin:10px;
  padding:15px 5px;

  font-size:25px;
}